<div class="row">
	<form class="col s10 offset-s1">	
		<div class="input-field col s12">
          	<input id="nombre" type="text" ng-model="card.nombre" required>
          	<label for="nombre">Nombre</label>
        </div>
	  		<div class="input-field col s12">
          	<textarea id="textarea1" class="materialize-textarea" name="contenido" ng-model="card.contenido" required></textarea>
          	<label for="textarea1">Contenido</label>
        </div>
	  	
		<div class="input-field col s12">
          	<input type="date" class="datepicker" name="fecha" ng-model="card.fecha" required>
         	<label for="date">Fecha</label>
        </div>
	  	
		<div class="input-field col s12">
          	<input id="hora" type="text" name="hora" ng-model="card.hora" required>
          	<label for="hora">Hora</label>
        </div>
		<input type="submit" ng-click="$ctrl.update(card)" class="waves-effect waves-light btn right" value="Agregar" />
	</form>
</div>
<!-- <pre>card = {{card.nombre}}</pre>
<pre>{{master}}</pre> -->


<script>
	 $('.datepicker').pickadate({
	    selectMonths: true, // Creates a dropdown to control month
	    selectYears: 15 // Creates a dropdown of 15 years to control year
	  });
    
</script>